/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.cd-schedule div, .cd-schedule span, .cd-schedule applet, .cd-schedule object, .cd-schedule iframe,
.cd-schedule h1, .cd-schedule h2, .cd-schedule h3, .cd-schedule h4, .cd-schedule h5, .cd-schedule h6, .cd-schedule p, .cd-schedule blockquote, .cd-schedule pre, 
.cd-schedule a,.cd-schedule abbr,.cd-schedule acronym,.cd-schedule address,.cd-schedule big,.cd-schedule cite,.cd-schedule code,
.cd-schedule del,.cd-schedule dfn,.cd-schedule em,.cd-schedule img,.cd-schedule ins,.cd-schedule kbd,.cd-schedule q,.cd-schedule s,.cd-schedule samp,
.cd-schedule small,.cd-schedule strike,.cd-schedule strong,.cd-schedule sub,.cd-schedule sup,.cd-schedule tt,.cd-schedule var,
.cd-schedule b,.cd-schedule u,.cd-schedule i,.cd-schedule center,
.cd-schedule dl,.cd-schedule dt,.cd-schedule dd,.cd-schedule ol,.cd-schedule ul,.cd-schedule li,
.cd-schedule fieldset,.cd-schedule form,.cd-schedule label,.cd-schedule legend,
.cd-schedule table,.cd-schedule caption,.cd-schedule tbody,.cd-schedule tfoot,.cd-schedule thead,.cd-schedule tr,.cd-schedule th,.cd-schedule td,
.cd-schedule article,.cd-schedule aside,.cd-schedule canvas,.cd-schedule details,.cd-schedule embed, 
.cd-schedule figure,.cd-schedule figcaption,.cd-schedule footer,.cd-schedule header,.cd-schedule hgroup, 
.cd-schedule menu,.cd-schedule nav,.cd-schedule output,.cd-schedule ruby,.cd-schedule section,.cd-schedule summary,
.cd-schedule time,.cd-schedule mark,.cd-schedule audio,.cd-schedule video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.cd-schedule article,.cd-schedule aside,.cd-schedule details,.cd-schedule figcaption,.cd-schedule figure, 
.cd-schedule footer,.cd-schedule header,.cd-schedule hgroup,.cd-schedule menu,.cd-schedule nav,.cd-schedule section,.cd-schedule main {
	display: block;
}
body {
	line-height: 1;
}
.cd-schedule ol,.cd-schedule ul {
	list-style: none;
}
.cd-schedule blockquote, q {
	quotes: none;
}
.cd-schedule blockquote:before,.cd-schedule blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.cd-schedule table {
	border-collapse: collapse;
	border-spacing: 0;
}